extends layout

block head
  link(rel='stylesheet',href='documentation.css')

block content
  each call in calls
    div.call(class=call.classes)
      .head
        label.method= call.method
        label.path= call.path
        if call.proxy
          label.proxy [proxy]
      .body
        if call.description
          .description!= call.description.replace('\n', '<br/>')
        if call.input.length > 0
          .in
            h2 Request
            ul
              each input in call.input
                li= input
        .out
          h2 Response
          ul
            each output in call.output
              li= output
          .response
            pre
              code= call.response
  script(src='zepto.min.js')
  script(src='documentation.js')
  script
    hljs.initHighlightingOnLoad();